/*-----------Accordion styles-----------*/
.curso-cc{
	
	.content-cc{
		
		.compensar-collapsible{
			
			// header
			.ui-accordion-header, .ui-accordion-header-collapsed{
				margin-bottom: 0.4rem;
				background: #67b1a9;
				padding: 1rem;
				cursor: pointer;
				color: #fff;
				transition: background .3s ease-in-out;
				border-radius: 0;
				border: 0;
				&:hover{
					background: #e56a3f;
				}
			}
			
			.ui-accordion-header-active{
				background: #e56a3f;
				padding: 1rem;
				margin-bottom: 0rem;
				cursor: pointer;
				color: #fff;
				
				transition: background .3s ease-in-out;
				&:hover{
					background: #67b1a9;
				}
			}
			
			// content
			.ui-accordion-content{
				border-color: #e6eaf3;
				border-style: solid;
				border-width: 0 2px 2px 2px;
				margin-bottom: 2rem;
				padding: 1rem;
				height: auto !important;
				
				p{
					margin-top: 0;
				}
			}
		}
	}
}