/* Inicio content-cc */
.curso-cc .content-cc {
	background:#68B1A9;
	width:100%;
	display:inline-block;
	position:relative;
	z-index:100;
}

.curso-cc .content-cc #bg-white-cnt {
	background:#fff;
	display:table;
	padding:3rem 2rem;
	width:90%;
	z-index:100;
	min-height:60%;
	
	@media screen and (max-width: 500px){
		padding:1rem 2%;
	}
}

/*.curso-cc .content-cc:before {
	position:absolute;
	box-shadow:3px 0 22px rgba(0,0,0,0.4);
	content:"";
	height:20px;
	bottom:0;
	left:3%;
	right:5%;
	z-index:-1;
}*/

/* content index */
.curso-cc .content-cc #bg-white-cnt-index {
	display:table;
	width:98%;
	z-index:100;
	background:#fff;
	height:100%;
}

.curso-cc .content-cc .video-cc {
	background:#68B1A9;
	margin:0;
	color:#fff;
	height:100%;
}

.curso-cc .content-cc .txt-cc {
	background:#fff;
	min-height:27rem;
	padding:2rem;
}

.curso-cc .content-cc #bg-white-cnt-index div:last-child {
    min-height: 18rem;
}

#region-main .content-cc-interns.download-pdf, .content-cc-interns.download-pdf{
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    background: #e6eaf3;
      max-width: initial;
}

#region-main .content-cc-interns.download-pdf div, .content-cc-interns.download-pdf div{
  text-align:center;
}

#region-main .content-cc-interns.download-pdf div .btn-orange-inside, .content-cc-interns.download-pdf div .btn-orange-inside{
      background: url(/diseno/cursos/compensar-gestion-riesgo/Images/Icons/right.svg)#69b0a8;
    background-repeat: no-repeat;
    padding: .4rem 2rem .4rem 1rem;
    border-radius: 3rem;
    color: #fff;
    font-weight: 600;
    background-position: 95%;
    background-size: 8px;
    display: inline-block;
    margin: .4rem;
}

@media screen and (max-width: 767px){
	#region-main{
		padding: 0;
	}
	#page-content div.container{
		padding: 0;
	}
}

@media screen and (max-width: 430px){
	.content-cc #bg-white-cnt-content {
	    width: 94%;
	    padding: 5% 3%;
	    box-sizing: content-box;
	}
}