/* ============ internas =========== */
.content-cc.intern-content {
	padding:0 2%;
	width:100%;
	    box-sizing: border-box;
}

.content-cc .course-header-cc {
	display:inline-block;
}
 
.content-cc #bg-white-cnt-content {
	background:#fff;
	display:inline-block;
	width:100%;
	margin:2% auto;
	padding:5% 8%;
	text-align:center;
	    box-sizing: border-box;
}

.content-cc .course-header-cc div:first-child {
	border-bottom:2px solid #E56B40;
}

.content-cc.intern-content .content-cc-interns {
	display:inline-block;
	max-width:850px;
	text-align:left;
}

.content-cc.intern-content .banner-3img {
	margin:2rem 0 4rem;
	display:inline-block;
}

.content-cc.intern-content .menu-bottom-cc {
	display:inline-block;
	margin-top:3rem;
	width:100%;
}

.content-cc.intern-content .banner-video {
	margin:2rem 0 4rem;
	display:inline-block;
	    width: 100%;
}

.content-cc.intern-content .banner-video > div {
	vertical-align:bottom;
}

.content-cc.intern-content .img-footer {
	text-align:left;
	font-weight:300;
	font-style:italic;
	font-size:14px;
	line-height:16px;
	border-left:2px solid #E56B40;
	padding-left:1rem;
}

.content-cc.intern-content .questions-cc {
	background:#FFF9E0;
	text-align:center;
	margin-top:2rem;
}

.content-cc.intern-content .questions-cc .hdr {
	background:#68B1A9;
	color:#fff;
	padding:.7rem;
	font-size:24px;
	font-weight:800;
	line-height:28px;
}

.content-cc.intern-content .questions-cc .hdr span {
	background:url(../Images/Icons/question.svg);
	background-size:20px;
	background-repeat:no-repeat;
	background-position:1%;
	padding-left:1.5rem;
}

.content-cc.intern-content .infoq-cc {
	padding:1rem;
}

/*.content-cc.intern-content .questions-cc:before {
	position:absolute;
	box-shadow:3px 0 13px rgba(0,0,0,0.6);
	content:"";
	height:20px;
	bottom:-3%;
	left:3%;
	right:5%;
	z-index:-1;
}*/

.content-cc.intern-content .infoq-cc .qst {
	background:url(../Images/Icons/topic.svg);
	background-repeat:no-repeat;
	background-size:20px;
	padding-left:2.1rem;
	font-size:17px;
	text-align:left;
	width:90%;
	margin:.5rem auto 1rem;
}

.content-cc.intern-content .questions-cc .btn-orange {
	padding:.4rem 1rem;
	text-decoration:none;
	float:none;
	font-size:13px;
	display:inline-block;
	margin-top:1rem;
}

.content-cc.intern-content .questions-cc li span {
	display:inline-block;
	width:80%;
	text-align:left;
}

.content-cc.intern-content .questions-cc ol {
	background:#fff;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:0;
	width:91%;
	margin:1rem auto;
	padding:1.1rem 0 0 3rem;
}

.content-cc.intern-content .questions-cc li {
	background:#fff;
	border-bottom:2px solid #68B1A9;
}

.content-cc.intern-content .questions-cc .options .box-cc {
	background:#fff;
	border-bottom:1px solid #68B1A9;
	display:-webkit-box;
	display:-ms-flexbox;
	display: flex;
	padding: 0 1rem;
	
	.btn-orange{
		margin: 0.4rem 0;
	}
}

.content-cc.intern-content .questions-cc .options .txt {
	text-align:left;
}

.content-cc.intern-content .questions-cc .options .txt span {
	font-size:25px;
	font-weight:800;
	display:inline-block;
	vertical-align:super;
}

#region-main .content-cc.intern-content .questions-cc .options .txt p {
	display:inline-block;
	width:90%;
	text-align:left;
	margin:.8rem 0 .8rem .8rem;
}

.content-cc.intern-content .discl {
	background:#fff;
	text-align:left;
	padding:.5rem;
	font-size:14px;
	font-style:italic;
	margin-top:.7rem;
}

.content-cc.intern-content .footnotes {
	display:inline-block;
	background:#FFF9E0;
	border-top:1px solid #68B1A9;
	text-align:left;
	margin-top:2rem;
	font-size:12px;
	line-height:14px;
}

.curso-cc .boxes-cc {
    display: inline-block;
}

.curso-cc .boxes-cc > div {
    background: #69b0a8;
    text-align: center;
    color: #fff;
    display: table;
    height: 100%;
    padding: 1rem;
      margin-bottom: 1rem;
}

#region-main .curso-cc .boxes-cc > div h4 {
    text-align: center;
    font-size: 25px;
    word-break: break-word;
}