// -----------------------
// banner home
// -----------------------

.curso-cc{
	
	.content-cc{
		padding: 2rem 2rem 0;
		box-sizing: border-box;
		
		p{
			font-family: $font_hel_light;
			font-size: $font_txt;
			line-height: 27px;
			max-width: 710px;
			margin: auto;
			letter-spacing: 0.4px;
		}
		
	}
	
}