/* ======================= gallery ======================= */
.curso-cc .galeria {
	margin:1rem auto;
	display:inline-block;
	text-align:center;
	position: relative;
	z-index: 1;
}

.curso-cc .galeria a {
    background: rgba(134,154,167,0.0) url(/diseno/cursos/compensar-gestion-riesgo/Images/Icons/zoom.svg) no-repeat center;
    margin: auto;
    height: auto;
    z-index: 10;
    display: grid;
    text-align: center;
    background-size: 4rem;
    background-position: 0 100%;
    border: 1px solid #fff;
    position: initial;
    &:hover{
	    content:"";
		background: rgba(0,0,0,0.4) url(/diseno/cursos/compensar-gestion-riesgo/Images/Icons/zoom.svg) no-repeat center;
		width:auto;
		height:auto;
		display:grid;
		background-size: 4rem;
    }
}

/*.curso-cc .galeria a:hover {
	content:"";
    background: rgba(0,0,0,0.4) url(/diseno/cursos/compensar-gestion-riesgo/Images/Icons/zoom.svg) no-repeat center;
	width:auto;
	height:auto;
	z-index:10;
	display:grid;
      background-size: 4rem;
    background-position: 0 100%;
        border: 1px solid #fff;
}*/

.curso-cc .galeria img {
	z-index:-1;
	position:relative;
}

body .fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: -44px;
    z-index: 8050;
    text-align: center;
    background: #E56B40;
    color: #fff;
    text-align: left;
    padding: 0.5rem 1rem;
}

body .fancybox-title-float-wrap .child {
    display: inline-block;
    margin-left: 0;
    padding: 2px 20px;
    background: none;
    background: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: none;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
      font-family: 'Muli',sans-serif;
}

body .fancybox-close {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background: url(/diseno/cursos/compensar-gestion-riesgo/Images/Icons/wrong2.svg) #e56b41;
    border-radius: 2rem;
    color: #fff;
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: 50%;
}