@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('hinted-HelveticaNeueLTStd-MdCn.eot');
    src: local('Helvetica Neue LT Std 67 Medium Condensed'), local('HelveticaNeueLTStd-MdCn'),
        url('hinted-HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
        url('hinted-HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
        url('hinted-HelveticaNeueLTStd-MdCn.woff') format('woff'),
        url('hinted-HelveticaNeueLTStd-MdCn.ttf') format('truetype'),
        url('hinted-HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

